.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #131124, #030b18);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
}

.register-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 0px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.register-input {
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  transition: border 0.3s;
}

.register-input:focus {
  border: 1px solid #2575fc;
}

.register-btn {
  margin-top: 15px;
  padding: 12px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.register-btn:hover {
  background: #1a5bd7;
}
